<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>What's your favorite drink?</h1>
      <%= render 'form', cocktail: @cocktail %>
      <br>
      <%= link_to "👈 Back to all cocktails", cocktails_path %>
    </div>
  </div>
</div>
