// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "cocktails";

$blackish: #323232;
$purple: #6951FF;
$dark-purple: #5b46dd;

// .custom-cur {
//   cursor: url('https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/socialmedia/apple/96/cocktail-glass_1f378.png'), auto;
// }


body {
  background-color: #fafafa;
  color: $blackish;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: $purple;
  &:hover {
    color: #4e3dbf;
  }
  margin: 0;
}

p {
  margin: 0;
}

.cocktail {
  color: $blackish;
  &:hover {
    color: $purple;
  }
}
